.questions {
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid white;
  color: rgba(0,0,0,0.3);
  text-align: center;
}

.questions-active {
  color: black;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid black;
}

.hidden {
  display:none;
}

.scroll-column {
  position: absolute;
  top:0px;
  bottom:0;
  left: 0;
  overflow-y: scroll;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
}

.height-between-posts {
  height: 15px;
  height: 4vh;
}

@media screen and (max-width: 450px) {
  body {
    padding-top: 23%;
  }
  .fixed-column {
    position: fixed !important;
    top: 14%;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  body {
    padding-top: 17%;
  }
  .fixed-column {
    position: fixed !important;
    top: 13%;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 769px) {
  body {
    padding-top: 120px;
  }
  .fixed-column {
    position: fixed !important;
    top: 120px;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}
