{% extends 'posts/index.html' %}
{% block title %}<title>Grace Lee | Blog</title>{% endblock %}

{% block content %}
<div class="container-fluid">
  {% if paginated_list %}
  {% for post in paginated_list.object_list %}
  <div class="row">
    <div class="col-xs-12" style="margin-left:2%;">
      <p style="margin-bottom:0px;">
        <strong>
          <a href="{% url 'posts:detail' post_id=post.id slug=post.slug %}">{{ post.post_title }}</a>
        </strong>
      </p>
      <p style="color:rgba(0,0,0,0.3)">{{ post.written_date }}</p>
      <div class="row">
        <div class="col-xs-5">
          {% if post.image_urls %}
          {% for url in post.image_urls %}
          <div style="height:15px"></div>
          <img id="blog_img{{ forloop.counter }}" data-featherlight="#blog_img{{ forloop.counter }}" src="{{ url }}" style="width:100%; border:1px rgba(0,0,0,0.2) solid;"></img>
          {% endfor %}
          {% else %}
          <p>No images available.</p>
          {% endif %}
        </div>
        <div class="col-xs-6">
          <p>{{ post.post_body | safe }}</p>
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
  {% else %}
  <div class="row">
    <div class="col-xs-12" style="margin-left:2%;">
      <div style="height:15px;"></div>
      <p>No posts are available.</p>
    </div>
  </div>
  {% endif %}
</div>
<footer>
  <nav>
    <ul style="list-style:none;">
      {% if paginated_list.has_previous %}
      <li>
        <a href="{% url 'posts:blog' %}?page={{ paginated_list.previous_page_number }}">
          Previous
        </a>
      </li>
      {% endif %}
      {% if paginated_list.has_next %}
      <li>
        <a href="{% url 'posts:blog' %}?page={{ paginated_list.next_page_number }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</footer>
{% endblock %}
